$ ruby erb_prog.rb
$ cat reunion_info.html

<html>
    <head>
        <title>It's a Reunion!</title>
    </head>
    <body>
      come join us at <%= @reunion %> where we will have <%= @activity_1  %> and <%= @activity_2 %>
    </body>
</html>
